.CardList {
    background-color: lighten($rbc, 15%);
    background: radial-gradient(ellipse at 12% 5%, lighten($rbc, 15%) 0%, #fff 90%);
    border: 0px;
}

.Card {
    // background: -moz-radial-gradient(12% 5%, ellipse cover, $rbc 0%, #fff 40%);
    //  background: -webkit-radial-gradient\(12% 5%, ellipse cover, $rbc;
    background: white; //radial-gradient(ellipse at 12% 5%, lighten($rbc, 10%) 0%, #fff 40%);
    a {
        color: $link;
        &:hover {
            color: $link-hover;
        }
    }
    h2 {
        font-size: 1.2rem !important;
        text-shadow: none !important;
    }

    &.StudyCard {
        .StudyCard-Heading {
            height: 27%;
            >h2 {
                >a {
                    &.wdk-ReactRouterLink {
                        color: #384c4b  !important;
                        cursor: default;
                        pointer-events: none;
                    }
                }
            }
        }
        .StudyCard-PreFooter {
            background-color: $link;
        }
        .StudyCard-Footer {
            background-color: $link;
            font-size: 1.5rem;
            .box {
                a {
                    color: white !important;
                }
                &:hover {
                    background-color: $base;
                }
            }
        }
    }

    &.ImageCard {
        .ImageCard-Footer {
            background: $link !important;
            padding: 20px 5px !important;
            color: white !important;
            &:hover {
                text-decoration: underline !important;
            }
        }
        .ImageCard-Image {
            box-shadow: none;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    &.SearchCard {
        .SearchCard-Header {
            font-size: 1.2rem;
            align-items: flex-start;
            flex: 0 0 auto;
            padding: 12px 12px 5px;
            font-weight: 800;
            display: flex;
            height: 30%;
            margin-bottom: 15px;

            h2 {
                font-size: 1rem !important;
                flex: 1; // padding: 12px 12px 5px;
                font-weight: normal !important;
                margin-bottom: 10px;
                text-align: left;
            }
            h3 {
                display: none;
            }
        }
        .SearchCard-Icon {
            flex: 0 0 auto;
            margin: 10px 0 0;
            font-size: 1.5em;
            text-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
        }
        .SearchCard-Body {
            flex: 1;
            padding: 12px;
            font-size: 0.8rem;
            text-align: left;
        }
        .SearchCard-Stripe {
            width: 100%;
            margin: 0;
            padding: 7px 12px;
            flex: 0 0 auto;
            background-color: #e8e8e8;
            font-size: 0.9rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 28px;
        }
        .SearchCard-Footer {
            background: $link !important;
            padding: 20px 5px !important;
            color: white !important;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}

.wdk-Showcase {
    .wdk-Showcase-HeadingRow {
        h2 {
            font-size: 1.2rem;
            align-items: flex-start;
            flex: 0 0 auto;
            padding: 12px 12px 5px;
            font-weight: normal;
            display: flex;
            color: $base;
            margin-bottom: 10px;
            text-shadow: none !important;
        }
        p {
            color: $base;
            max-width: 100% !important;
            font-size: 1rem;
        }
    }
    .wdk-Showcase-ContentRow {
        box-shadow: 0 1px 5px $rbc;
    }
    button.ViewAll {
        background: $link;
    }
}