.HeaderNav-Sticky {
    #quick-search {
        position: relative;
        top: -15px;
        
    }
}

#quick-search {
    margin: none;
    height: inherit;
    .quick-search-item {
        //font-size: 20px;
        //font-family: $font-family;
        margin: none;
        fieldset {
            position: relative;
            >legend {
                >span {
                    position: absolute;
                    top: -20px;
                    right: 0px;
                    font-weight: normal;
                    font-size: 12px;
                    >a {
                        color: #0c475a !important;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
            >.quick-search-box {
                outline: 0;
                height: 42px;
                width: 244px;
                
                padding: 0 16px;
                background-color: rgba(255, 255, 255, 0.8);
                color: $base;
                border: 1px solid $base;
                border-radius: 4px 0 0 4px;
                &:focus {
                    background-color: white;
                }
                font-size: 18px;
            }
            >.quick-search-button {
                outline: 0;
                background: none;
                background-color: $base; //float: left;
                height: 42px;
                width: 42px;
                text-align: center;
                line-height: 37px !important;
                border: 1px solid $base;
                //border: 0;
                color: rgba(255, 255, 255, 0.8);
                ;
                font: normal normal normal 18px/1 FontAwesome;
                text-rendering: auto;
                text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                transition: background-color .4s ease;
                border-radius: 0 4px 4px 0;
                &:hover {
                    background-color: lighten($base, 20%);
                    color: white;
                }
            }
        }
    }
}
