.protocol-image-caption {
    width: 50%;
  }
  
.erythrondb-RecordOverviewItem {
    //white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
  }
  
  .erythrondb-RecordOverviewItem, .erythrondb-RecordOverviewLink {
    margin: .2em 0;
    font-size: 1.2em;
    max-width: 75em;
  }
  
  .erythrondb-RecordOverviewItem[data-label]:before {
    content: attr(data-label) ": ";
    font-weight: bold;
  }
  
  .erythrondb-RecordOverviewItem:empty {
    display: none;
  }

  .attribute-label {
    font-weight:bold;

    &.note {
      margin-top:5px;
    }
  }
  