<?xml version="1.0" encoding="UTF-8" ?>

<modelConfig modelName="ErythronDB"
             webServiceUrl="http://localhost:9580/erythrondb/services/WsfService"
             smtpServer="127.0.0.1"
             supportEmail="allenem@pennmedicine.upenn.edu"
             secretKeyFile="/www-local/common/.erythrondb_wdk_key"
             >

 <queryMonitor
             baseline=".1"
             slow="2"
             />

    <appDb  login=""
            password=""
            connectionUrl="jdbc:postgresql://server:port/database"
            platform="PostgreSQL"
            maxActive="20"
            maxIdle="10"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            />
             
    <userDb login=""
            password=""
	    connectionUrl="jdbc:postgresql://server:port/database"
	    platform="PostgreSQL"
            maxActive="20"
            maxIdle="1"
            minIdle="1"
            maxWait="50"
            showConnections="false"
            showConnectionsInterval="10"
            showConnectionsDuration="600"
            userSchema="userlogins3."
            wdkEngineSchema="wdkengine." 
            />
           
    <emailSubject>
         <![CDATA[
            Your ErythronDB Password
         ]]>
    </emailSubject>
    <emailContent>
        <![CDATA[
        <p>Thank you for registering at ErythronDB.</p>
        <p>Your temporary password is: $$PASSWORD$$</p>
        <p>You may now login to <a href="http://www.cbil.upenn.edu/ErythronDB">ErythronDB</a>.</p>
           <p>Thank you,</p>
           <p>ErythronDB</p>

        ]]>
    </emailContent>
</modelConfig>

